<h2>The Cats</h2>
<ul class="cats">
  <li *ngFor="let cat of cats"> <!-- cats refers to the cats.component.ts property called cats -->
    <!-- cats is the array cat objects-->
    <!--toggle the class of the cat-->
    <!-- When the current row cat is the same as the selected cat, Angular adds the selected CSS class-->
    <button [class.selected]="cat === selectedCat" type="button" (click)="onSelect(cat)"></button>

    <span class="badge">{{cat.id}} </span>
    <span class="name">{{cat.name}}</span>

  </li>
</ul>

<!-- selector for the cat-detail component-->
<!-- I must bind the select cat to the cat property of the cat-details component-->
<app-cat-detail [catToDisplay]="selectedCat"></app-cat-detail>
<!--PROPERTY BINDING-->

<!-- We reduced the reponsibilities of the cats component-->
