<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://Java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>HelloServlets</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextExample</param-name>
		<param-value>Global info accessible by all servlets</param-value>
	</context-param>



	<servlet>
		<servlet-name>DirServ</servlet-name>
		<servlet-class>com.revature.directservlet.DirectServlet
		</servlet-class>
		<init-param>
			<param-name>configExample</param-name>
			<param-value>Info unique to JUST this servlet</param-value>
		</init-param>

		<init-param>
			<param-name>anotherConfigExample</param-name>
			<param-value>Patil</param-value>
		</init-param>

	</servlet>
	<servlet-mapping>
		<servlet-name>DirServ</servlet-name>
		<url-pattern>/dirserv</url-pattern>
	</servlet-mapping>




	<servlet>
		<servlet-name>IndirectServlet</servlet-name>
		<servlet-class>com.revature.indirectservlet.IndirectServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndirectServlet</servlet-name>
		<url-pattern>/indirserv</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/error.html</location>
	</error-page>

	<servlet>
		<servlet-name>SessionServlet</servlet-name>
		<servlet-class>com.revature.sessionservlet.SessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionServlet</servlet-name>
		<url-pattern>/sesserv</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HelperSessionServlet</servlet-name>
		<servlet-class>com.revature.sessionservlet.HelperSessionServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelperSessionServlet</servlet-name>
		<url-pattern>/helpersesserv</url-pattern>
	</servlet-mapping>
</web-app>



